@model IEnumerable<string>

<div id="imageFields">
    @if (Model != null && Model.Any())
    {

        @foreach (var image in Model)
        {
            <input type="hidden" value="@image" name="Images" />
        }
    }
</div>