<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Environment">
    <Parameter Name="ASPNETCORE_ENVIRONMENT" Value="" />
  </Section>

  <Section Name="Logging">
    <Parameter Name="IncludeScopes" Value="false" />
    <Parameter Name="LogLevel:Default" Value="Debug" />
    <Parameter Name="LogLevel:System" Value="Information" />
    <Parameter Name="LogLevel:Microsoft" Value="Information" />
  </Section>

  <Section Name="Data">
    <Parameter Name="DefaultConnection:ConnectionString" Value="Data Source=(localdb)\\ProjectsV13;Initial Catalog=BookFast;Trusted_Connection=True;MultipleActiveResultSets=true" />
  </Section>

  <Section Name="Authentication">
    <Parameter Name="AzureAd:ApiResource" Value="App ID URI of the API app" />
    <Parameter Name="AzureAd:Instance" Value="e.g. https://login.microsoftonline.com/" />
    <Parameter Name="AzureAd:ValidIssuers" Value="Comma separated list of tenant identifiers, e.g. https://sts.windows.net/490789ec-b183-4ba5-97cf-e69ec8870130/,https://sts.windows.net/f418e7eb-0dcd-40be-9b81-c58c87c57d9a/" />
    <Parameter Name="AzureAd:ClientId" Value="" />
    <Parameter Name="AzureAd:ClientSecret" Value="" />
    <Parameter Name="AzureAd:PostLogoutRedirectUri" Value="" />
    <Parameter Name="AzureAd:B2C:Instance" Value="e.g https://login.microsoftonline.com/" />
    <Parameter Name="AzureAd:B2C:TenantId" Value="B2C tenant ID" />
    <Parameter Name="AzureAd:B2C:ClientId" Value="" />
    <Parameter Name="AzureAd:B2C:ClientSecret" Value="" />
    <Parameter Name="AzureAd:B2C:PostLogoutRedirectUri" Value="" />
    <Parameter Name="AzureAd:B2C:Policies:SignInOrSignUpPolicy" Value="" />
    <Parameter Name="AzureAd:B2C:Policies:EditProfilePolicy" Value="" />
  </Section>

  <Section Name="ApplicationInsights">
    <Parameter Name="InstrumentationKey" Value="" />
  </Section>

  <Section Name="BookFastApi">
    <Parameter Name="FacilityService" Value="fabric:/BookFast/FacilityService" />
  </Section>
</Settings>
